<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>PotholeDetection</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='sty.css') }}">
	<script   src="https://code.jquery.com/jquery-3.4.1.js"   integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   crossorigin="anonymous"></script>"
    <script>
window.onload = function () {

var dataPoints1 = [];
var dataPoints2 = [];
var dataPoints3 = [];

var options = {
	title: {
		text: "PotHole and Speed Bumps detection"
	},
	axisX: {
		title: "chart updates every 2 secs"
	},
	axisY: {
		includeZero: false
	},
	toolTip: {
		shared: true
	},
	legend: {
		cursor: "pointer",
		verticalAlign: "top",
		fontSize: 22,
		fontColor: "dimGrey",
		itemclick: toggleDataSeries
	},
	data: [{
		type: "line",
		xValueType: "dateTime",
		yValueFormatString: "###.00",
		xValueFormatString: "hh:mm:ss TT",
		showInLegend: true,
		name: "IRsensor",
		dataPoints: dataPoints1
	},
	{
		type: "line",
		xValueType: "dateTime",
		yValueFormatString: "###.00",
		showInLegend: true,
		name: "accelorometerz",
		dataPoints: dataPoints2
	}, {
		type: "line",
		xValueType: "dateTime",
		yValueFormatString: "###.00",
		showInLegend: true,
		name: "accelorometerx",
		dataPoints: dataPoints3
	}]
};

var chart = $("#chartContainer").CanvasJSChart(options);

function toggleDataSeries(e) {
	if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else {
		e.dataSeries.visible = true;
	}
	e.chart.render();
}

var updateInterval = 2000;
// initial value
var yValue1 = 10;
var yValue2 =  15;
var yValue3 = 30;

var time = new Date;
// starting at 10.00 am
time.setHours(10);
time.setMinutes(00);
time.setSeconds(00);
time.setMilliseconds(00);

function updateChart(count) {
	count = count || 1;
	var deltaY1, deltaY2, deltaY3;
	for (var i = 0; i < count; i++) {
		time.setTime(time.getTime() + updateInterval);
		deltaY1 = -1 + Math.random() * (1 + 1);
		deltaY2 = -1 + Math.random() * (1 + 1);
		deltaY3 = -1 + Math.random() * (1 + 1);

		// adding random value and rounding it to two digits. 
		yValue1 = Math.round((yValue1 + deltaY1) * 100) / 100;
		yValue2 = Math.round((yValue2 + deltaY2) * 100) / 100;
		yValue3 = Math.round((yValue3 + deltaY3) * 100) / 100;

		// pushing the new values
		dataPoints1.push({
			x: time.getTime(),
			y: yValue1
		});
		dataPoints2.push({
			x: time.getTime(),
			y: yValue2
		});
		dataPoints3.push({
			x: time.getTime(),
			y: yValue3
		});
	}

	// updating legend text with  updated with y Value 
	options.data[0].legendText = "accelorometerz : " + yValue1;
	options.data[1].legendText = "accelorometerx : " + yValue2;
	options.data[2].legendText = "IRsensor : " + yValue3;
	$("#chartContainer").CanvasJSChart().render();
}
// generates first set of dataPoints 
updateChart(100);
setInterval(function () { updateChart() }, updateInterval);

}
</script>
    </head>
<body>
	<div id="header">
   	<div class="logo"><pre><a href="#">                             Transport<span> Ministry</span></a></pre></div>
   </div>
   <a class="mobile" href="#"><b>MENU</b></a>
   
   <div id="container">
   	 <div class="sidebar">
   	 	<ul id="nav"><b>
   	 		<li><a href="mainpage">Home</a></li>
   	 		<li><a class= "selected" href="t1.html">Pothole Detection</a></li>
	 		<li><a href="t2.html">Graphs and Charts</a></li>	
   	 		<li><a href="t3.html">Map</a></li>	  	 		
   	 	</b></ul>
   	 
   	 </div>
	
    </div>
    
    <div id="chartContainer" style="height: 300px; width: 50%; margin-left: : 300px; margin-right: 300px;"></div>
     
    <p id="t"></p>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
   <script>
        $(document).ready(function(){
           $.get("http://practice42.herokuapp.com/fetch", function(data){
               alert(data);
          }); 
        });
    </script>

</body>
</html>