<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>PotholeDetection</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='sty.css') }}">
	<script
	src="https://code.jquery.com/jquery-3.4.1.js"
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous"></script>
  <script>
  $(document).ready(function(){
    $("#submitBtn").click(function(){
      $("#myForm").submit(function);
         alert("Submitted");
});
});
</script>
</head>
<body>
	<div id="header">
   	<div class="logo"><a href="#">Transport<span> Ministry</span></a></div>
   </div>
   <a class="mobile" href="#"><b>MENU</b></a>
   <p>this is paragraph</p>
   <div id="container">
   	 <div class="sidebar">
   	 	<ul id="nav"><b>
   	 		<li><a href="#">Dashboard</a></li>
   	 		<li><a class= "selected" href="t1.html">Pothole Detection</a></li>
	 		<li><a href="t2.html">Graphs and Charts</a></li>	
   	 		<li><a href="t3.html">Map</a></li>	  	 		
   	 	</b></ul>
   	 
   	 </div>
	</div>
	<script>
		$(document).ready(function(){
			$.get( "https://practice42.herokuapp.com/fetch", function( data ) {
					var Pothole = []
				});
		});
	</script>
	<script>
window.onload = function () {

var dataPoints = [];

var options = {
	theme: "light2",
	title: {
		text: "Live Chart from JSON Data"
	},
	data: [{
		type: "spline",
		dataPoints: dataPoints
	}]
};

$("#chartContainer").CanvasJSChart(options);
updateData();

// Initial Values
var xValue = 0;
var yValue = 10;
var newDataCount = 6;

function addData(data) {
	if (newDataCount != 1) {
		$.each(data, function (key, value) {
			dataPoints.push({ x: value[0], y: parseInt(value[1]) });
			xValue++;
			yValue = parseInt(value[1]);
		});
		newDataCount = 1;
	} else {
		//dataPoints.shift();
		dataPoints.push({ x: data[0][0], y: parseInt(data[0][1]) });
		xValue++;
		yValue = parseInt(data[0][1]);
	}
	$("#chartContainer").CanvasJSChart().render();
	setTimeout(updateData, 1500);
}

function updateData() {
	$.getJSON("https://canvasjs.com/services/data/datapoints.php?xstart=" + xValue + "&ystart=" + yValue + "&length=" + newDataCount + "type=json", addData);
}

}
</script>
</body>
</html>