<html>
<head>
	<title>GraphsAndCharts</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='sty.css') }}">

</head>
<body>
	<div id="header">
   	<div class="logo"><a href="#">Transport<span> Ministry</span></a></div>
   </div>
   <a class="mobile" href="#"><b>MENU</b></a>
  
   <div id="container">
   	 <div class="sidebar">
   	 	<ul id="nav"><b>
   	 		<li><a href="#">Dashboard</a></li>
   	 		<li><a href="t1.html">Pothole Detection</a></li>
	 		<li><a class="selected" href="t2.html">Graphs and Charts</a></li>	
   	 		<li><a href="t3.html">Map</a></li>	  	 		
   	 	</b></ul>
   	 
   	 </div>
</body>
</html>