<html>
<head>
	<title>Map</title>
		<link rel="stylesheet" type="text/css" href="styles/sty.css">

</head>
<body>
	<div id="header">
   	<div class="logo"><a href="#">Transport<span> Ministry</span></a></div>
   </div>
   <a class="mobile" href="#"><b>MENU</b></a>
  
   <div id="container">
   	 <div class="sidebar">
   	 	<ul id="nav"><b>
   	 		<li><a href="#">Dashboard</a></li>
   	 		<li><a href="t1.html">Pothole Detection</a></li>
	 		<li><a href="t2.html">Graphs and Charts</a></li>	
   	 		<li><a class="selected" href="t3.html">Map</a></li>	  	 		
   	 	</b></ul>
   	 
   	 </div>
   	 <img src="https://lh3.googleusercontent.com/DijIv1x98Jwlto-eXkU3Ypdq3y_KMar0bPH581bW_Rt8YIkK4FRNI-dpya_KaAmla4DLxw=s115" height="200px" width="200px">
</body>
</html>